:root {
    --back: rgba(80, 80, 80, 0.514);
    --back_header: rgba(0, 0, 0, 0.425);
    --font: rgb(255, 255, 255);
    --neon: rgba(255, 255, 255, 0.534);
    --neon2: rgb(132, 0, 255);
    --neon3: rgb(255, 94, 0);
    --neon4: rgb(62, 2, 117);
    --neon5: rgb(255, 0, 128);
    --button: rgba(255, 255, 255, 0.637);
    --button2: rgba(70, 70, 70, 0.74);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font);
}

body {
    background: url(wp9436947.jpg);
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--back_header);
    padding: 1%;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    z-index: 2;


}

.nav_header {
    width: 100%;
    height: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ah {
    text-decoration: none;
    text-shadow: 2px 2px 4px var(--neon), -2px -2px 4px var(--neon);
    color: var(--font);
    transition: 0.5s linear;
    font-size: 1vw;


}

.ah:hover {
    transform: scale(1.2);
    text-shadow: 1px 1px 5px var(--neon2), -1px -1px 5px var(--neon2);
}

.man {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 13vw;
    padding-bottom: 19vw;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--back_header);
    width: 30vw;
    height: 15vw;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 70px var(--neon);
    transition: 0.2s linear;
}

.conteiner:hover {
    box-shadow: 0px 0px 100px var(--neon);
}

.painel1 {
    width: 40%;
    height: 100%;
    border-radius: 5px;

}

.img {
    background: url(WhatsApp\ Image\ 2025-07-29\ at\ 5.31.28\ PM.jpeg);
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    filter: brightness(70%);
    transition: ease 1s;
}

.img:hover {
    transform: scale(1.08);
    filter: none;
    box-shadow: 2px 2px 30px var(--neon3), -2px -2px 30px var(--neon3);


}

.painel2 {
    background-color: var(--back);
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    border-radius: 5px;
    align-items: center;
}

.titulo {
    margin-top: 5px;
    font-weight: bold;
    justify-content: center;
    font-size: 1.2vw;
}

.descricao {
    display: flex;
    padding: 5px;
    padding-left: 10px;

    font-size: 0.8vw;

}

.spacer {
    width: 100%;
    height: 100%;
}

.botoes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0.3vw;
    text-decoration: none;

}

.botoes a {
    border-radius: 5px;
    text-decoration: none;
    background: none;
    transition: 0.5s;
    text-shadow: 1px 1px 5px var(--neon), -1px -1px 5px var(--neon);
    box-shadow: 1px 1px 5px var(--neon);
    width: 30%;
    font-size: 0.7vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--button);
    cursor: pointer;

}

.botoes a:hover {
    transform: scale(1.1);
    text-shadow: 1px 1px 5px var(--neon2), -1px -1px 5px var(--neon2);
    box-shadow: 1px 1px 5px var(--neon2), -1px -1px 5px var(--neon2);
}

footer {
    background: var(--back_header);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vw;
    backdrop-filter: blur(10px);

}

footer div {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.fnav_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    font-size: 1.5vw;
}

.fpainel2 {
    font-size: 1vw;
    gap: 2px;
}

.fpainel2 p {
    margin: 0;
}

.fpainel2 h1 {
    font-size: 1.2vw;
}

.fpainel3 {
    font-size: 1vw;
    gap: 2px;
}

.fpainel3 p {
    margin: 0;
}

.fpainel3 h1 {
    font-size: 1.2vw;
}

.fpainel4 {
    font-size: 1vw;
    height: 30%;

}

.cpainel0 {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.cpainel05 {

    width: 70%;
    height: 4vw;
}

.cpainel1 {
    width: 100%;
    height: 2vw;
}

.fotof {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    overflow: hidden;
}

.fotof div {
    background: url(NovoProjeto.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;

}

.nomef {
    width: 100%;
    font-size: 1.2vw;
}

.cpainel2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2vw;
    overflow: hidden;


}

.input {
    background: var(--button2);
    border: none;
    width: 66%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px 0px 0px 5px;
    font-size: 0.7vw;
    



}

.input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.submit {
    background: var(--neon4);
    border: none;
    height: 100%;
    width: 18%;
    border-radius: 0px 5px 5px 0px;
    transition: 0.5s ease;
    font-size: 0.7vw;
    cursor: pointer;
}

.submit:hover {
    background-color: var(--neon2);

}

.curriculo_pdf {
    background: url();
}

iframe {
    border: 2px solid black;
    border-radius: 10px;
    width: 90vw;
    height: 40vw;
    margin: 0 auto;
}





.cont_cur {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--back_header);
    width: 90vw;
    height: 40vw;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px var(--neon);
    transition: 0.2s linear;
}

.cont_cur:hover {
    box-shadow: 0px 0px 15px var(--neon);
}

.man_cur {
    margin: 0;
    padding-top: 4vw;
    padding-bottom: 4vw;
}





.pp1 div {
    border-radius: 20px;



}

.pp2 {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin-bottom: 1vw;
    height: 20vw;
    width: 100%;

}

.pp3 {
    background-color: var(--back_header);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    transition: 0.5s;

}

.img_so {
    width: 50%;
    height: 50%;
    background: url(sophiAcademy.png);
    background-position: center center;
    background-size: cover;
}

.pp3:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px var(--font);
}

.pp4 {
    background-color: var(--back_header);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    transition: ease 0.5s;
}

.img_po {
    width: 50%;
    height: 24%;
    background: url(logocompleto.png);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.pp4:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px var(--neon5);
}

.pp5 {
    background-color: var(--back_header);
    backdrop-filter: blur(10px);
    width: 100%;

    display: flex;
    flex-direction: row;
}

.pp5 div {
    width: 50%;
    height: 40vw;
    border-radius: 0;
}

.pp6 {
    border-right: 2px solid var(--neon);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 2vw;
    height: 100%;
}

.pp7 {
    border-left: 2px solid var(--neon);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 2vw;
    height: 100%;

}

.man_por {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4vw;
    padding-bottom: 4vw;
}
.pp1 {
    width: 80%;
    height: 90%;



}
.pp4 a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pp3 a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
